*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 35vh !important;
    background-color: rgb(228, 228, 228);
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight:700 !important;
}
p{
    font-weight:400 !important;
}
